li {
    padding-top:10px;
    font-size: 1.1rem;
}

.intext_lab{
    padding-top:10px;
    font-size: 1.1rem;
}

.title_lab{
    padding-top:10px;
    font-size: 1.1rem;
    font-weight: bolder;
}

.params li{
    list-style-type: none;
}